* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculatrice {
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	border-radius: 15px;
}

#ecran {
	width: 100%;
	height: 100px;
	background-color: rgb(85, 85, 94);
	margin-bottom: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: flex-end; /* aligner à droite */
	padding: 5px;
	font-size: 30px;
	box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.651);
}

.touches {
	margin: 10px;
	display: grid; /* créer une grille */
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(5, 50px);
	grid-gap: 7px;
}

button {
	border-radius: 30px;
	border-color: rgb(53, 52, 52);
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	box-shadow: inset 0 0 1em rgb(73, 73, 73),
		0 0 2em rgba(196, 186, 186, 0.164);
}

#c {
	background-color: rgb(2, 29, 80);
}
